<app-main-layout [controlPanelConfig]="controlPanelConfig">
  <div class="content_wrapper main_container">
    <div class="content">
      <div
        class="spinner_wrapper flex_center"
        *ngIf="isLoading$ | async; else loadedContent"
      >
        <mat-spinner class="spinner"></mat-spinner>
      </div>

      <ng-template #loadedContent>
        <app-product-list
          [products]="(products$ | async) || []"
        ></app-product-list>
      </ng-template>

      <div *ngIf="!(products$ | async)?.length && !(isLoading$ | async)">
        Товары не найдены
      </div>
    </div>

    <app-paginator
      *ngIf="!!(products$ | async)?.length"
      [pageSizeOptions]="pageSizeOptions"
      [length]="count$ | async"
      [pageSize]="(pagination$ | async)?.pageSize || null"
      [pageIndex]="(pagination$ | async)?.pageIndex || null"
      (pageChange)="onPageChange($event)"
    ></app-paginator>
  </div>
</app-main-layout>
