:host {
  display: block;
  user-select: none;
}

table {
  width: 100%;
  margin: 20px 0;
}

tr.mat-mdc-footer-row td {
  font-weight: bold;
}

.product_title_td {
  a.product_info_link {
    display: block;
    color: inherit;
    text-decoration: none;

    .product_info {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        display: block;
        width: 100%;
        max-width: 120px;
        height: auto;
      }
    }
  }
}

.product_quantity_td {
  .quantity_controls {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .quantity_value {
    display: inline-block;
  }
}

.create_order_td {
  button {
    display: block;
    margin-left: auto;
  }
}
