<app-main-layout [controlPanelConfig]="controlPanelConfig">
  <div
    class="spinner_wrapper flex_center"
    *ngIf="isLoading; else loadedContent"
  >
    <mat-spinner class="spinner"></mat-spinner>
  </div>

  <ng-template #loadedContent>
    <div *ngIf="product" class="main_container">
      <div class="product_header">
        <img
          [src]="product.imageUrl"
          alt="{{ product.title }}"
          class="product_image"
        />
        <div class="product_info">
          <h1 class="product_title">{{ product.title }}</h1>
          <p class="product_price">
            {{ product.price | currency : "RUB" : "symbol" : "1.0-2" : "ru" }}
          </p>
          <p class="product_amount">В наличии: {{ product.amount }} шт.</p>
          <button
            mat-button
            appStopEvent
            (click)="onAddToCart()"
            [disabled]="isAlreadyInCart"
          >
            {{ isAlreadyInCart ? "В корзине" : "В корзину" }}
          </button>
          <p class="product_description">{{ product.description }}</p>
        </div>
      </div>
      <div class="comments_section">
        <h2>Комментарии</h2>
        <div class="write_comment_container">
          <mat-form-field class="write_comment_textarea">
            <mat-label>Оставить комментарий</mat-label>
            <textarea
              matInput
              placeholder="Всем рекомендую данный товар..."
              [formControl]="commentFormControl"
            ></textarea>
            <mat-error *ngIf="commentFormControl.hasError('required')"
              >Вы не ввели ни одного символа</mat-error
            >
          </mat-form-field>
          <button mat-icon-button (click)="onCreateComment()">
            <mat-icon fontIcon="send" />
          </button>
        </div>
        <div
          class="comment"
          *ngFor="let comment of product.comments; trackBy: trackById"
        >
          <app-user-mini-avatar
            [src]="comment.avatarUrl"
            alt="{{ comment.author }}"
            class="avatar avatar--comment"
          />
          <div class="comment_content">
            <p class="comment_author">
              {{ comment.author }}
              <button
                *ngIf="userRole === 0"
                mat-icon-button
                (click)="onDeleteComment(comment.id)"
                class="delete_btn"
              >
                <mat-icon fontIcon="delete_forever" class="delete_btn_icon" />
              </button>
            </p>
            <p class="comment_text">{{ comment.content }}</p>
            <p class="comment_date">{{ comment.createdAt | date : "short" }}</p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!product && !isLoading" class="main_container not_found">
      Товар не найден
    </div>
  </ng-template>
</app-main-layout>
