<app-main-layout [withControlPanel]="false">
  <div
    class="spinner_wrapper flex_center"
    *ngIf="isLoading; else loadedContent"
  >
    <mat-spinner class="spinner"></mat-spinner>
  </div>

  <ng-template #loadedContent>
    <div *ngIf="product" class="main_container">
      <div class="product_header">
        <img
          [src]="product.imageUrl"
          alt="{{ product.title }}"
          class="product_image"
        />
        <div class="product_info">
          <h1 class="product_title">{{ product.title }}</h1>
          <p class="product_price">
            {{ product.price | currency : "RUB" : "symbol" : "1.0-2" : "ru" }}
          </p>
          <p class="product_amount">В наличии: {{ product.amount }} шт.</p>
          <button
            mat-button
            appStopEvent
            (click)="onAddToCart()"
            [disabled]="isAlreadyInCart"
          >
            {{ isAlreadyInCart ? "В корзине" : "В корзину" }}
          </button>
          <p class="product_description">{{ product.description }}</p>
        </div>
      </div>
      <div class="comments_section">
        <h2>Комментарии</h2>
        <div
          class="comment"
          *ngFor="let comment of product.comments; trackBy: trackById"
        >
          <app-user-mini-avatar
            [src]="comment.avatarUrl"
            alt="{{ comment.author }}"
            class="avatar avatar--comment"
          />
          <div class="comment_content">
            <p class="comment_author">{{ comment.author }}</p>
            <p class="comment_text">{{ comment.content }}</p>
            <p class="comment_date">{{ comment.createdAt | date : "short" }}</p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!product && !isLoading" class="main_container not_found">
      Товар не найден
    </div>
  </ng-template>
</app-main-layout>
