:host {
  display: block;
}

.content_wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  margin: 15px 0;
  flex-grow: 1;
}

.panel {
  button {
    display: block;
    margin-left: auto;
  }
}

table {
  width: 100%;
  margin-top: 10px;
}

.product_id_td {
  word-break: break-all;
}

.product_amount_th,
.product_amount_td {
  text-wrap: nowrap;
}

.product_image_td {
  img {
    display: block;
    width: 100%;
    max-width: 120px;
    height: auto;
    padding: 5px 0;
  }
}

.product_controls_td {
  .controls_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon_edit {
      color: green;
    }

    .icon_delete {
      color: red;
    }
  }
}
