html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.main_container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.m_0 {
  margin: 0;
}

.text_center {
  text-align: center;
}

.cdk-overlay-container
  .mat-mdc-option.loader_option
  span.mdc-list-item__primary-text {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

// общие стили для диалоговых окон
.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 28px !important;

  h2 {
    margin: 0;
    padding: 6px 24px 13px;
  }

  .mat-mdc-dialog-content {
    padding: 0 24px;
  }

  .mat-mdc-dialog-actions {
    padding: 16px 24px;
    justify-content: flex-end;
  }
}

// snackbar стили
.mat-mdc-snack-bar-container {
  &.success .mdc-snackbar__surface {
    background-color: #307232 !important;
  }

  &.error .mdc-snackbar__surface {
    background-color: #f33225 !important;
  }

  .mdc-snackbar__label {
    padding-top: 0;
    padding-bottom: 0;
  }
}

// стили для пунктов меню
.menu_link .mat-mdc-menu-item-text {
  display: flex !important;
  align-items: center !important;
}
