/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.main_container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.m_0 {
  margin: 0;
}

.cdk-overlay-container
  .mat-mdc-option.loader_option
  span.mdc-list-item__primary-text {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
