<div class="main_container flex_between">
  <mat-form-field class="select_category">
    <mat-label>Категория</mat-label>
    <mat-select
      [(ngModel)]="selectedCategoryValue"
      name="category"
      (openedChange)="onOpenedChangeCategorySelect($event)"
      (selectionChange)="onCategoryChange($event)"
    >
      <mat-option
        *ngIf="isCategoriesLoading; else optionsContent"
        class="loader_option"
        disabled
      >
        <mat-spinner diameter="30"></mat-spinner>
      </mat-option>
      <ng-template #optionsContent>
        <mat-option>Все</mat-option>
        <mat-option
          *ngFor="let category of categories; trackBy: trackById"
          [value]="category.id"
          >{{ category.title }}</mat-option
        >
      </ng-template>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="input_field">
    <mat-label>Поиск товаров</mat-label>
    <input matInput type="text" [formControl]="searchControl" />
    <button
      *ngIf="searchControl.value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="searchControl.setValue('')"
    >
      <mat-icon fontIcon="close"></mat-icon>
    </button>
  </mat-form-field>

  <div class="view_block">
    <span class="label">Отображать: </span>
    <mat-button-toggle-group
      name="viewing"
      (change)="onView($event)"
      hideSingleSelectionIndicator
    >
      <mat-button-toggle value="grid" [checked]="viewProduct === 'grid'">
        <mat-icon fontIcon="grid_view" class="icon"></mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="list" [checked]="viewProduct === 'list'">
        <mat-icon fontIcon="view_list" class="icon"></mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="sort_block">
    <span class="label">Цена: </span>
    <mat-button-toggle-group
      name="sorting"
      (change)="onSort($event)"
      hideSingleSelectionIndicator
    >
      <mat-button-toggle value="asc" [checked]="sortValue === 'asc'">
        <mat-icon fontIcon="arrow_right_alt" class="icon_asc"></mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="desc" [checked]="sortValue === 'desc'">
        <mat-icon fontIcon="arrow_right_alt" class="icon_desc"></mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
