<a class="card_link" [routerLink]="['products', product.id]">
  <mat-card
    class="product_card"
    [ngClass]="{
      'product_card--view-card': viewProduct === 'grid',
      'product_card--view-line': viewProduct === 'list'
    }"
    appearance="outlined"
  >
    <img mat-card-image [src]="product.imageUrl" [alt]="product.title" />

    <!-- когда вид карточек grid -->
    <ng-template [ngIf]="viewProduct === 'grid'">
      <ng-container *ngTemplateOutlet="cardContentGridTemplate"></ng-container>
      <ng-container *ngTemplateOutlet="cardActionsTemplate"></ng-container>
    </ng-template>

    <!-- когда вид карточек list -->
    <div class="right_card" *ngIf="viewProduct === 'list'">
      <ng-container *ngTemplateOutlet="cardContentListTemplate"></ng-container>
      <ng-container *ngTemplateOutlet="cardActionsTemplate"></ng-container>
    </div>
  </mat-card>
</a>

<ng-template #cardContentGridTemplate>
  <mat-card-content class="content">
    <p class="title">{{ product.title }}</p>
    <p class="price">
      <span class="digit">{{
        product.price | currency : "RUB" : "symbol" : "1.0-2" : "ru"
      }}</span>
    </p>
    <p class="amount">
      Осталось: <span class="digit">{{ product.amount }}</span> шт.
    </p>
  </mat-card-content>
</ng-template>

<ng-template #cardContentListTemplate>
  <mat-card-content class="content">
    <p class="title">{{ product.title }}</p>
    <div class="right_content">
      <p class="price">
        <span class="digit">{{ product.price }}</span> руб.
      </p>
      <p class="amount">
        Осталось: <span class="digit">{{ product.amount }}</span> шт.
      </p>
    </div>
  </mat-card-content>
</ng-template>

<ng-template #cardActionsTemplate>
  <mat-card-actions class="actions">
    <button mat-button appStopEvent>
      <mat-icon fontIcon="favorite" />
    </button>
    <button
      mat-button
      appStopEvent
      (click)="onAddToCart()"
      [disabled]="iaAlreadyInCart"
    >
      {{ iaAlreadyInCart ? "В корзине" : "В корзину" }}
    </button>
  </mat-card-actions>
</ng-template>
