<header>
  <div class="header_inner flex_between main_container">
    <a routerLink="/" class="logo-link flex_center"
      ><mat-icon class="icon" fontIcon="home"></mat-icon>
      <div class="logo flex_center">LOGO</div></a
    >
    <div class="control">
      <button
        mat-button
        *ngIf="!currentUser; else userBlock"
        (click)="openAuthModal()"
      >
        Войти
      </button>

      <ng-template #userBlock>
        <div class="user_block flex_center" [matMenuTriggerFor]="menu">
          <div class="user_name">{{ currentUser?.fullName }}</div>
          <app-user-mini-avatar
            [src]="currentUser?.avatarUrl"
            [alt]="currentUser?.fullName"
          />
        </div>

        <mat-menu #menu="matMenu">
          <a mat-menu-item routerLink="/cart" class="menu_link">
            <span class="cart_icon">
              <mat-icon fontIcon="shopping_cart" />
              <div class="indicator flex_center">{{ cartItemsCount }}</div>
            </span>
            <span>Корзина</span>
          </a>
          <a mat-menu-item routerLink="/favorites" class="menu_link">
            <span class="favorite_icon">
              <mat-icon fontIcon="favorite" />
              <div class="indicator flex_center">{{ favoritesCount }}</div>
            </span>
            <span>Избранное</span>
          </a>
          <a mat-menu-item routerLink="/orders" class="menu_link">
            <mat-icon fontIcon="receipt_long" />
            <span>Мои заказы</span>
          </a>
          <div mat-menu-item class="menu_link" (click)="openProfile()">
            <mat-icon fontIcon="account_circle" />
            <span>Профиль</span>
          </div>
          <ng-template [ngIf]="isAdmin">
            <mat-divider></mat-divider>
            <a
              mat-menu-item
              routerLink="/products-list-admin"
              class="menu_link"
            >
              <mat-icon fontIcon="inventory" />
              <span>Упр. товарами</span>
            </a>
            <a mat-menu-item routerLink="/users-list-admin" class="menu_link">
              <mat-icon fontIcon="group" />
              <span>Упр. пользователями</span>
            </a>
          </ng-template>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logout()">
            <mat-icon fontIcon="logout"></mat-icon>
            <span>Выход</span>
          </button>
        </mat-menu>
      </ng-template>
    </div>
  </div>
</header>
