<header>
  <div class="header_inner flex_between main_container">
    <a routerLink="/" class="logo-link flex_center"
      ><mat-icon class="icon" fontIcon="home"></mat-icon>
      <div class="logo flex_center">LOGO</div></a
    >
    <div class="control">
      <button
        mat-button
        *ngIf="!currentUser; else userBlock"
        (click)="openAuthModal()"
      >
        Войти
      </button>

      <ng-template #userBlock>
        <app-user-mini-avatar
          class="avatar--header"
          [src]="currentUser?.avatarUrl"
          [alt]="currentUser?.fullName"
          [matMenuTriggerFor]="menu"
        ></app-user-mini-avatar>

        <mat-menu #menu="matMenu">
          <a mat-menu-item routerLink="/cart">
            <mat-icon fontIcon="shopping_cart"></mat-icon>
            <span>Корзина</span>
          </a>
          <button mat-menu-item (click)="logout()">
            <mat-icon fontIcon="logout"></mat-icon>
            <span>Выход</span>
          </button>
        </mat-menu>
      </ng-template>
    </div>
  </div>
</header>
