<app-main-layout [withControlPanel]="false">
  <div
    class="spinner_wrapper flex_center"
    *ngIf="isLoading; else loadedContent"
  >
    <mat-spinner class="spinner"></mat-spinner>
  </div>

  <ng-template #loadedContent>
    <div *ngIf="!!products.length" class="main_container">
      <table mat-table [dataSource]="products" class="mat-elevation-z8">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let product" class="product_id_td">
            {{ product.id }}
          </td>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Название</th>
          <td mat-cell *matCellDef="let product" class="product_title_td">
            {{ product.title }}
          </td>
        </ng-container>

        <!-- Category Column -->
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Категория</th>
          <td mat-cell *matCellDef="let product" class="product_category_td">
            {{ product.categoryId.title }}
          </td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Цена</th>
          <td mat-cell *matCellDef="let product" class="product_price_td">
            {{ product.price | currency : "RUB" : "symbol" : "1.0-2" : "ru" }}
          </td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef class="product_amount_th">
            Кол-во
          </th>
          <td mat-cell *matCellDef="let product" class="product_amount_td">
            {{ product.amount }} шт.
          </td>
        </ng-container>

        <!-- Image Column -->
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef>Фото</th>
          <td mat-cell *matCellDef="let product" class="product_image_td">
            <img [src]="product.imageUrl" [alt]="product.title" />
          </td>
        </ng-container>

        <!-- Controls Column -->
        <ng-container matColumnDef="controls">
          <th mat-header-cell *matHeaderCellDef>Действия</th>
          <td mat-cell *matCellDef="let product" class="product_controls_td">
            <div class="controls_wrapper">
              <button
                matSuffix
                mat-icon-button
                (click)="onEditProduct(product.id)"
              >
                <mat-icon fontIcon="edit" class="icon_edit" />
              </button>

              <button
                matSuffix
                mat-icon-button
                (click)="onDeleteProduct(product.id)"
              >
                <mat-icon fontIcon="delete_forever" class="icon_delete" />
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <app-paginator
        *ngIf="!!products.length"
        [pageSizeOptions]="pageSizeOptions"
        [length]="count"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        (pageChange)="onPageChange($event)"
      ></app-paginator>
    </div>
  </ng-template>

  <div
    class="spinner_wrapper flex_center"
    *ngIf="!isLoading && !products.length"
  >
    Товары не найдены
  </div>
</app-main-layout>
