<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div *ngIf="isLoading" class="spinner_overlay">
    <div class="spinner_wrapper flex_center">
      <mat-spinner diameter="30"></mat-spinner>
    </div>
  </div>

  <mat-form-field>
    <mat-label>Полное имя</mat-label>
    <input matInput formControlName="fullName" type="text" />
    <mat-error *ngIf="registrationForm.get('fullName')?.invalid">
      {{ getErrorMessage("fullName", "Полное имя") }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" type="email" />
    <mat-error *ngIf="registrationForm.get('email')?.invalid">
      {{ getErrorMessage("email", "Email") }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Пароль</mat-label>
    <input matInput formControlName="password" type="password" />
    <mat-error *ngIf="registrationForm.get('password')?.invalid">
      {{ getErrorMessage("password", "Пароль") }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Повтор пароля</mat-label>
    <input matInput formControlName="passwordConfirm" type="passwordConfirm" />
    <mat-error *ngIf="registrationForm.get('passwordConfirm')?.invalid">
      {{ getErrorMessage("passwordConfirm", "Повтор пароля") }}
    </mat-error>
  </mat-form-field>

  <mat-dialog-actions>
    <button mat-button type="button" mat-dialog-close>Отмена</button>
    <button mat-button type="submit" [disabled]="registrationForm.invalid">
      Зарегистрироваться
    </button>
  </mat-dialog-actions>
</form>
